body{
    box-sizing: border-box;
    margin: 0;
    background: rgb(90, 86, 86);
}

.container {
    display: flex;
    flex-direction: row;
    margin: 0;
    align-items: center;
    padding: 0;
}

.container-vertical {
    display: flex;
    flex-direction: column;
    margin: 0;
    align-items: center;
    padding: 0;
    justify-content: center;
}

nav {
    background:linear-gradient(to bottom, rgb(174, 115, 230), rgb(147, 48, 212));
    border-bottom: 2px ridge rgb(227, 209, 231);
}

.nav {
    margin: 0;
    padding: 10px;
}

nav li {
    list-style: none;
    padding: 10px 15px 10px 15px;
}

.nav-top{
    justify-content: space-between;
}

.nav-bottom{
    justify-content: flex-start;
}

nav h1 {
    margin: 0;
}

nav h2{
    margin: 0;
}

.brand {
    padding-left: 5px;
}

.search {
    flex: 1;
    flex-grow: 1;
}

.search-box {
    flex: 1;
    text-align: center;
    padding: 4px;
    border-radius: 5px;
    z-index: 10000;
}

.search-btn {
    background: linear-gradient(to bottom, rgb(224, 224, 230), rgb(214, 207, 207));
    padding: 5px 20px;
    margin: 0 5px 0 2px;
    border-radius: 5px;
    z-index: 10000;
}

.more-btn {
    background: linear-gradient(to bottom, rgb(224, 224, 230), rgb(214, 207, 207));
    padding: 5px 20px;
    margin: 0 5px 0 -2px;
    border-radius: 5px;
    z-index: 10000;
}

.buttons {
    flex-wrap: wrap;
    z-index: 10000;
}

.buttons button {
    background: linear-gradient(to bottom, rgb(224, 224, 230), rgb(214, 207, 207));
    padding: 5px;
    margin-right: 5px;
    border-radius: 5px;
}

.main{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.gifs{
    flex: 6;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
}

.gif{
    padding: 5px;
    margin: 5px;
    border-radius: 25px;
    background: radial-gradient(rgb(174, 115, 230), rgb(147, 48, 212));
    position: relative;
}

.gif .gifImage{
    border-radius: 25px;
}

.gif p{
    text-align: left;
    margin: 2px 0px;
    padding: 2px 10px;
    overflow-wrap: break-word;
}

.gif .addFave{
    position: absolute;
    background: radial-gradient(rgb(224, 224, 230), rgb(214, 207, 207));
    padding: 10px;
    border-radius: 50px;
    right: 3%;
    bottom: 3%;
    color: rgb(132, 47, 189);
    z-index: 1000;
}

.sidebar{
    flex: 2;
    justify-content: center;
    text-align: center;
    border-left: 2px ridge rgb(227, 209, 231);
    position: relative;
}

.sidebar-title{
    background: linear-gradient(to right, rgb(186, 101, 243), rgb(188, 50, 230));
    padding: 1px;
}

.favorites{
    background: linear-gradient(to bottom, rgb(224, 224, 230), rgb(214, 207, 207));
    min-height: 80vh;
}

.favorites img{
    border-radius: 25px;
}

.favorite-statement{
    padding: 20px;
}
